@model Kasyno_Projekt.Classes.HorseRacing

   
          <h1 class="horse-R-4"> 𓃗 </h1>
 
          <h1 class="horse-G-1"> 𓃗 </h1>

          <h1 class="horse-B-3"> 𓃗 </h1>
 



@foreach(var horse in Model.Horses)
{
     <h1 class="horse-@horse.Id-@horse.Speed"> 𓃗 </h1>

}