@model Kasyno_Projekt.ViewModels.UsersRanking

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @foreach(var user in Model.RankingList)
    {
        <p>@user.UserName</p>
        <p>@user.ChipsAmmount</p>
    }

</div>
